<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Notifications</h5>
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="flex align-items-center">
          <p-inputSwitch [inputId]="'viewRead'" (onChange)="handleChangeViewRead($event)" [(ngModel)]="viewRead">
          </p-inputSwitch>
          <label [for]="'viewRead'">{{'notification.viewRead' | translate}}</label>
        </div>
        <div class="flex">
          <button pButton type="button" label="Read All" class="p-button-outlined"></button>
        </div>
      </div>
      <span class="block text-600 font-medium mb-3">TODAY</span>

    </div>
  </div>
</div>