<app-top-bar></app-top-bar>

<div class="main pt-8" *ngIf="!isLoading; else loading">
  <div class="wrapper">
    <router-outlet *ngIf="!isError; else error"></router-outlet>
    <app-btn-scroll-to-top></app-btn-scroll-to-top>
  </div>
  <app-language-selector></app-language-selector>
  <app-footer></app-footer>
</div>

<p-confirmDialog key="appDialog" [styleClass]="'dynamic-popup'" [dismissableMask]="true">
</p-confirmDialog>

<p-toast [preventOpenDuplicates]="true"></p-toast>

<app-loading [loading]="isLoading"></app-loading>
<ng-template #loading>
</ng-template>

<ng-template #error>
  <app-NotFoundPage></app-NotFoundPage>
</ng-template>