<app-top-bar *ngIf="!isLoading"></app-top-bar>

<div class="main pt-8" *ngIf="!isLoading && !isLoadingConfig">
  <div class="wrapper">
    <router-outlet *ngIf="!isError; else error"></router-outlet>
    <app-btn-scroll-to-top></app-btn-scroll-to-top>
  </div>
  <!-- <app-language-selector></app-language-selector> -->
  <app-footer></app-footer>
</div>

<p-confirmDialog key="appDialog" [styleClass]="'dynamic-popup'" [dismissableMask]="true">
</p-confirmDialog>

<p-toast key="app-message" [preventOpenDuplicates]="true"></p-toast>

<app-loading [loading]="isLoading || isLoadingConfig"></app-loading>

<ng-template #error>
  <app-NotFoundPage></app-NotFoundPage>
</ng-template>