@import 'styles/scss/mixins.scss';

.main {
  // background: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 813px);

  .wrapper {
    min-height: 90vh;
  }
}

:host ::ng-deep {
  p-messages[key="app-message"] {
    .p-message {
      margin: 0;
    }
  }

  .p-dialog .p-dialog-footer {
    padding: 0 1.5rem 0 1.5rem !important;
  }
}