<ng-template [ngIf]="!isLoading">
  <div class="card px-2 md:px-3 lg:px-4">
    <div class="flex justify-content-between align-items-center mb-3">
      <p class="mb-0 text-xl">Manage ADMIN</p>
      <button icon="pi pi-plus" (click)="onClickCreate()" pButton pRipple label="Create admin user" class="">
      </button>
    </div>
    <p-table #dt [value]="listAdmins" [scrollable]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50,100]" responsiveLayout="scroll" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['id','user_name','email','display_name']">
      <ng-template pTemplate="caption">
        <div class="table-header flex justify-content-between align-items-center">
          <div class="header-left">
          </div>
          <div class="header-right">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input #globalText pInputText type="text" (input)="dt.filterGlobal(globalText.value, 'contains')"
                placeholder="Global Search" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th> -->
          <th pSortableColumn="user_name">User name <p-sortIcon field="user_name"></p-sortIcon>
          </th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="display_name">Display name <p-sortIcon field="display_name"></p-sortIcon>
          </th>
          <th pSortableColumn="roles">Roles <p-sortIcon field="roles"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="created_timestamp">Created <p-sortIcon field="created_timestamp"></p-sortIcon>
          </th>
          <th pSortableColumn="last_access_timestamp">Last Access <p-sortIcon field="last_access_timestamp">
            </p-sortIcon>
          </th>
          <th>Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admin>
        <tr>
          <!-- <td>{{admin.id}}</td> -->
          <td>{{admin.user_name}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.display_name}}</td>
          <td>{{admin.roles}}</td>
          <td>
            <app-status-badge [label]="admin.status"></app-status-badge>
          </td>
          <td title="{{admin.created_timestamp}}">{{admin.created_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td title="{{admin.last_access_timestamp}}">{{admin.last_access_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td>
            <button pButton type="button" (click)="onClickEdit(admin)" class="p-button-sm p-button-secondary"
              icon="pi pi-pencil"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '60vw'}"
  [maximizable]="true" [draggable]="false" [resizable]="false" (onHide)="currentAdmin = null; displayDialog = false">
  <ng-template pTemplate="header">
    <ng-template [ngIf]="viewDialog === 'edit'">
      <p class="text-2xl max-1-line">Edit admin: <b>{{currentAdmin?.display_name}}</b></p>
    </ng-template>
    <ng-template [ngIf]="viewDialog === 'create'">
      <p class="text-2xl max-1-line">Create new admin</p>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="viewDialog === 'edit' && currentAdmin">
    <admin-create-edit-admin [view]="'edit'" [id]="currentAdmin.id" (onClose)="onSuccess()">
    </admin-create-edit-admin>
  </ng-template>
  <ng-template [ngIf]=" viewDialog==='create'">
    <admin-create-edit-admin [view]="'create'" (onClose)="onSuccess()"></admin-create-edit-admin>
  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<app-loading [loading]="isLoading"></app-loading>