<div class="flex justify-content-between my-3 mx-2">
  <div>
    <h4>{{'label.security.title' | translate}}</h4>
  </div>
  <div>
    <button pRipple pButton type="button" label="{{'label.security.logoutAll' | translate}}" class="p-button-danger"
      [disabled]="listSession.length == 1 || isLoading" icon="pi pi-sign-out" [loading]="isLoadingDeleteAll"
      (click)="deleteAll()">
    </button>
  </div>
</div>
<p class="text-sm px-2">{{'label.security.description' | translate}}</p>
<div class="grid col-12">
  <ng-template [ngIf]="!isLoading" [ngIfElse]="loadingBlock">
    <div class="col-12 md:col-6 lg:col-6 xl:col-4" *ngFor="let item of listSession">
      <app-session-card [session]="item" (onDelete)="onDelete($event)"></app-session-card>
    </div>
  </ng-template>
  <ng-template #loadingBlock>
    <div class="col-12 md:col-6 lg:col-6 xl:col-4" *ngFor="let item of [1,2]">
      <app-session-card [loading]="true"></app-session-card>
    </div>
  </ng-template>
</div>