<div class="flex align-items-center justify-content-center w-full auth-block py-8">
  <div class="grid justify-content-center p-2 lg:p-0 w-full">
    <div class="col-12 md:col-6 lg:col-5">
      <div class="col-12 w-full"
        style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
        <div class="h-full w-full m-0 py-7 px-4"
          style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>