<div *ngIf="!error; else errorBlock">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">{{ 'label.newpassword.title' | translate }}</div>
    <span class="text-600 font-medium">{{ 'label.newpassword.description' | translate }}</span>
  </div>

  <div class="w-full md:w-10 mx-auto" *ngIf="!success; else successBlock">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <label for="password" class="block text-900 font-medium text-lg mb-2 mt-3">
        {{'label.newpassword.password.label' | translate }}
      </label>
      <div class="relative">
        <input #password formControlName="password" id="password" type="password" pPassword [feedback]="false"
          [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['password'].errors }"
          placeholder="{{'label.newpassword.password.placeholder' | translate}}" class="password-input w-full mb-1">
        <i class="pi password-icon absolute" [ngClass]="password.type === 'password' ? 'pi-eye' : 'pi-eye-slash'"
          (click)="password.type = password.type === 'password' ? 'text' : 'password'"></i>
      </div>
      <div *ngIf="(submitted || f['password'].touched) && f['password'].errors" class="invalid-feedback">
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['required']">
          <small class="p-error inline list-span">{{'label.newpassword.validation.password.required' |
            translate}}</small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['minlength']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.min' | translate : { min: passwordPolicy.min_len} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['maxlength']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.max' | translate : { max: passwordPolicy.max_len} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['minspecial']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.special' | translate : { num:
            passwordPolicy.min_special_char} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['minnumber']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.number' | translate : { num: passwordPolicy.min_number_char} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['minupper']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.upper' | translate : { num: passwordPolicy.min_upper_char} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['password'].errors['minlower']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.password.lower' | translate : { num: passwordPolicy.min_lower_char} }}
          </small>
        </div>
      </div>

      <label for="confirmPassword" class="block text-900 font-medium text-lg mb-2 mt-3">
        {{'label.newpassword.confirmPassword.label' | translate }}
      </label>
      <div class="relative">
        <input #confirmPassword formControlName="confirmPassword" id="confirmPassword" type="password" pPassword
          [feedback]="false" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['confirmPassword'].errors }"
          placeholder="{{'label.newpassword.confirmPassword.placeholder' | translate}}"
          class="password-input w-full mb-1">
        <i class="pi password-icon absolute" [ngClass]="confirmPassword.type === 'password' ? 'pi-eye' : 'pi-eye-slash'"
          (click)="confirmPassword.type = confirmPassword.type === 'password' ? 'text' : 'password'"></i>
      </div>
      <div *ngIf="(submitted || f['confirmPassword'].touched) && f['confirmPassword'].errors" class="invalid-feedback">
        <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['required']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.confirmPassword.required' | translate}}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['matching']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.confirmPassword.match' | translate}}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['minlength']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.confirmPassword.min' | translate : { min: passwordPolicy.min_len} }}
          </small>
        </div>
        <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['maxlength']">
          <small class="p-error inline list-span">
            {{'label.newpassword.validation.confirmPassword.max' | translate : { max: passwordPolicy.max_len} }}
          </small>
        </div>
      </div>

      <p-messages [(value)]="message" [enableService]="false"></p-messages>

      <button type="submit" pButton pRipple label="{{'label.newpassword.submit' | translate}}" icon="pi pi-sign-in"
        iconPos="right" class="w-full p-3 text-xl mt-3"></button>

    </form>
  </div>
</div>

<ng-template #successBlock>
  <div class="w-full md:w-10 mx-auto">
    <div class="text-center mb-5">
      <app-check-icon></app-check-icon>
      <div class="text-900 text-3xl font-medium mt-6 mb-3">{{ 'label.newpassword.success.title' | translate }}</div>
      <p class="text-600 font-medium">{{ 'label.newpassword.success.description' | translate }}</p>

      <a [routerLink]="['/']" class="text-blue-500"><i class="pi pi-fw pi-arrow-left text-blue-500 mr-2 mt-4"
          style="vertical-align:center;"></i> {{'label.notfound.home' | translate}}</a>
    </div>
  </div>
</ng-template>

<ng-template #errorBlock>
  <p-messages [(value)]="message" [enableService]="false"></p-messages>
  <app-not-found></app-not-found>
</ng-template>

<app-loading [loading]="isLoading"></app-loading>