<div class="layout-topbar">
  <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
    <i class="pi pi-bars"></i>
  </a>

  <a class="layout-topbar-logo" [routerLink]="['/admin']">
    <span>HEOVI</span>
  </a>

  <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
    <i class="pi pi-ellipsis-v"></i>
  </a>

  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
    <ng-template [ngIf]="isLoggedin">
      <div class="user-info flex align-items-center cursor-pointer" (click)="menu.toggle($event)">
        <p class="font-medium text-md mb-0 mr-2">{{ admin?.display_name }}</p>
        <app-avatar [user]="admin"></app-avatar>
      </div>

      <p-menu #menu [popup]="true" [model]="items"></p-menu>

      <button pButton pRipple type="button" (click)="onClickLogout()"
        class="p-button-danger p-button-text layout-topbar-button">
        <i class="pi pi-sign-out"></i>
        <span>Log out</span>
      </button>
    </ng-template>
  </div>
</div>

<p-confirmDialog key="logout" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [position]="'top'"
  [style]="{width: '60vw'}" [dismissableMask]="true">
</p-confirmDialog>