<div class="layout-topbar">
  <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
    <i class="pi pi-bars"></i>
  </a>

  <a class="layout-topbar-logo" [routerLink]="['/admin']">
    <span>HEOVI</span>
  </a>

  <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
    <i class="pi pi-ellipsis-v"></i>
  </a>

  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
    <ng-template [ngIf]="isLoggedin" [ngIfElse]="noLogin">
      <p-avatar label="{{admin.display_name.substring(0,1) | uppercase}}" shape="circle" size="large" (click)="menu.toggle($event)">
      </p-avatar>

      <p-menu #menu [popup]="true" [model]="items"></p-menu>

      <button pButton pRipple type="button" (click)="onClickLogout()"
        class="p-button-danger p-button-text layout-topbar-button">
        <i class="pi pi-sign-out"></i>
        <span>Log out</span>
      </button>
    </ng-template>
    <ng-template #noLogin>
      <a href="#" class="p-link layout-topbar-button">
        <i class="pi pi-bell"></i>
        <span>Notification</span>
      </a>
      <a href="#" class="p-link layout-topbar-button">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
      </a>

    </ng-template>
  </div>
</div>