.btn-menu {
  height: 2.4rem !important;
  width: 2.4rem !important;
  border-radius: 1.2rem !important;
  outline: none !important;
  box-shadow: none !important;
  span {
    font-size: 0.8rem !important;
  }
}