<ng-template [ngIf]="!isLoading">
  <div class="card px-2 md:px-3 lg:px-4">
    <div class="flex justify-content-between align-items-center mb-3">
      <p class="mb-0 text-xl">Manage User</p>
      <!-- <button icon="pi pi-plus" (click)="onClickCreate()" pButton pRipple label="Create user user" class="">
      </button> -->
    </div>
    <p-table #dt dataKey="id" [value]="listUsers" [rowHover]="true" [rows]="25"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]" responsiveLayout="scroll" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['user_name','display_name','first_name','last_name','email']">
      <ng-template pTemplate="caption">
        <div class="table-header flex justify-content-between align-items-center">
          <div class="header-left">
          </div>
          <div class="header-right">
            <span class="p-input-icon-left">
              <i class="pi pi-search mx-2"></i>
              <input #globalText pInputText type="text" (input)="dt.filterGlobal(globalText.value, 'contains')"
                placeholder="Global Search" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th> -->
          <th pSortableColumn="display_name">Display name <p-sortIcon field="display_name"></p-sortIcon>
          </th>
          <th pSortableColumn="user_name">User name <p-sortIcon field="user_name"></p-sortIcon>
          </th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="roles">Roles <p-sortIcon field="roles"></p-sortIcon>
          </th>
          <th pSortableColumn="last_access_timestamp">Last Access <p-sortIcon field="last_access_timestamp"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th>Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="user"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <!-- <td>{{user.id}}</td> -->
          <td>
            <a class="flex align-items-center" [href]="'/user/' + user.user_name" target="_blank">
              <app-avatar [user]="user"></app-avatar>
              <span class="image-text ml-2">{{user.display_name}}</span>
            </a>
          </td>
          <td>{{user.user_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles}}</td>
          <td pTooltip="{{user.last_access_timestamp | date : 'dd/MM/yyyy HH:mm z'}}">{{user.fromNow.updated}}</td>
          <td>
            <app-status-badge [translation]="false" [label]="user.status"></app-status-badge>
          </td>
          <td>
            <button pButton type="button" (click)="onClickEdit(user)" class="p-button-sm p-button-secondary"
              icon="pi pi-pencil"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-user>
        <div class="px-3">
          <app-simple-grid-view [data]="user"></app-simple-grid-view>
        </div>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '60vw'}"
  [maximizable]="true" [draggable]="false" [resizable]="false" (onHide)="currentUser = null; displayDialog = false">
  <ng-template pTemplate="header">
    <ng-template [ngIf]="viewDialog === 'edit'">
      <p class="text-2xl max-1-line">Edit user: <b>{{currentUser?.display_name}}</b></p>
    </ng-template>
    <ng-template [ngIf]="viewDialog === 'create'">
      <p class="text-2xl max-1-line">Create new user</p>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="viewDialog === 'edit' && currentUser">
    <admin-create-edit-user [view]="'edit'" (onClose)="onSuccess()" [id]="currentUser.id"></admin-create-edit-user>
  </ng-template>
  <ng-template [ngIf]=" viewDialog==='create'">

  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<app-loading [loading]="isLoading"></app-loading>