@import 'styles/scss/mixins.scss';

.post-card {
  transition: transform .36s cubic-bezier(0, 0, 0.2, 1), opacity .36s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2) !important;

  &-animation {
    &:hover {
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
    }
  }

  &-hover {
    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08), 0px 4px 30px 2px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1) !important;

      .card-container {
        .card-footer {
          .card-footer-right {
            .read-more-button {
              i {
                transform: translateX(6px);
                transition: transform .36s cubic-bezier(0, 0, 0.2, 1), opacity .36s cubic-bezier(0, 0, 0.2, 1);
              }
            }
          }
        }
      }
    }
  }

  .card-container {

    .card-header {
      .card-hear-right {
        .post-time {

          span {
            font-size: 0.875rem;

            @include breakpoint(max, 480px) {
              font-size: 0.75rem;
            }
          }
        }
      }
    }

    .card-content {
      .card-content-main {
        .card-image {
          width: 100%;
          height: 150px;
          object-fit: cover;

          @include breakpoint(min, 960px) {
            height: 180px;
          }
        }

        .card-heading {
          @include maxline(2);
        }

        .card-heading-grid {
          height: 54px;
          @include maxline(2);
        }


        .card-description {
          @include maxline(6);
        }

        .card-description-grid {
          @include maxline(2);
        }
      }
    }

    .card-footer {
      .card-footer-right {
        .read-more-button {
          i {
            transform: translateX(0);
            transition: transform .36s cubic-bezier(0, 0, 0.2, 1), opacity .36s cubic-bezier(0, 0, 0.2, 1);
          }

          &:hover {

            i {
              transform: translateX(6px);
              transition: transform .36s cubic-bezier(0, 0, 0.2, 1), opacity .36s cubic-bezier(0, 0, 0.2, 1);
            }
          }
        }
      }
    }
  }
}