<div class="card post-card mb-1" [ngClass]="isGrid ? 'p-2' : 'p-3'">
  <div class="card-container flex flex-wrap">
    <div [ngClass]="{ 'flex-order-1': isGrid }"
      class="card-header w-full p-2 flex flex-wrap justify-content-between align-items-baseline">
      <div class="card-hear-left" [ngClass]="{ 'w-full mb-3': isGrid }">
        <a [routerLink]="['/user', post.owner.uid]">
          <p-avatar label="W" size="large" shape="circle"></p-avatar>
          <span class="mx-2 font-semibold">{{ post.owner.username }}</span>
        </a>
        <p-tag severity="danger" value="New"></p-tag>
      </div>
      <div class="card-hear-right flex align-items-center pl-2">
        <span class="text-sm text-600 mr-2" title="{{ post.created_at }}">
          {{ post.fromNow }}
        </span>
        &#183;
        <span class="text-sm text-600 mx-2">
          {{ "card.time_read" | translate: post }}
        </span>
        <app-btn-menu class="" [ngClass]="{ 'hidden': isGrid }" [items]="menuitem" [icon]="'pi pi-ellipsis-v'">
        </app-btn-menu>
      </div>
    </div>

    <div class="card-content" [ngClass]="{ 'flex-order-0': isGrid }" [ngClass]="{ 'flex flex-wrap-reverse': isGrid }">
      <div class="card-content-top p-2 inline">
        <app-tag [tag]="tag" [size]="'xs'" [color]="'bg-bluegray'" *ngFor="let tag of post?.tags"></app-tag>
      </div>
      <div class="card-content-main cursor-pointer">
        <a [routerLink]="['/post', post.postId]">
          <div class="flex flex-wrap">
            <div class="col-12" [ngClass]="{ 'md:col-6': !isGrid }">
              <img imageOnError src="{{ post.thumbnail }}" alt="{{ post.title }}" class="card-image border-round mt-2" />
            </div>
            <div class="col-12" [ngClass]="{ 'md:col-6': !isGrid }">
              <h3 class="text-800 text-xl font-semibold"
                [ngClass]="isGrid ? 'card-heading-grid' : 'card-heading'">
                {{ post.title }}
              </h3>
              <p class="text-gray-600"
                [ngClass]=" isGrid ? 'card-description-grid' : 'card-description'">
                {{ post.content }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- Info post reaction -->
    <div class="card-footer flex-order-2 w-full px-2 py-3 flex justify-content-between align-items-center">
      <div class="card-footer-left inline-">
        <div
          class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:bg-gray-200 p-1 border-round cursor-pointer"
          pTooltip="👍 {{post.likes | number:'1.0-2'}}" tooltipPosition="bottom">
          <span class="text-sm mr-1 font-normal">{{ post.likes | shortNumber }}</span>
          <i style="font-size: 1.2rem" class="pi pi-thumbs-up"></i>
        </div>
        <div
          class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:bg-gray-200 p-1 border-round cursor-pointer"
          pTooltip="💬 {{post.comments | number:'1.0-2'}}" tooltipPosition="bottom">
          <span class="text-sm mr-1 font-normal">{{ post.comments | shortNumber }}</span>
          <i style="font-size: 1.25rem" class="pi pi-comment"></i>
        </div>
        <div
          class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:bg-gray-200 p-1 border-round cursor-pointer"
          pTooltip="👁 {{post.view | number:'1.0-2'}}" tooltipPosition="bottom">
          <span class="text-sm mr-1 font-normal">{{ post.view | shortNumber }}</span>
          <i style="font-size: 1.25rem" class="pi pi-eye"></i>
        </div>
      </div>
      <div class="card-footer-right pr-2">
        <a class="read-more text-blue-700 hover:text-blue-500" [routerLink]="['/post', post.postId]">
          <span class="read-more-text mr-2 font-medium" [ngClass]="{ 'hidden xl:inline': isGrid }">
            {{ "card.read_more" |translate }}</span>
          <i class="fadeinLeft pi pi-arrow-right" pTooltip="{{ 'card.read_more' | translate }}"
            tooltipPosition="bottom"></i>
        </a>
      </div>
    </div>
  </div>
</div>