<ng-template [ngIf]="comment">
  <div class="comment-card-wrapper">
    <div class="comment-card-main flex">
      <div class="comment-card_left mr-2">
        <a [routerLink]="['/user', comment?.owner?.user_name]">
          <ng-template [ngIf]="comment.owner.avatar" [ngIfElse]="avatar">
            <p-avatar shape="circle" image="{{ comment.owner.avatar }}" size="large"></p-avatar>
          </ng-template>
          <ng-template #avatar>
            <app-avatar [label]="comment.owner.display_name.substring(0,1) | uppercase"></app-avatar>
          </ng-template>
        </a>
      </div>
      <div class="w-full comment-card-right">
        <div class="card comment-card px-3 py-3 md:px-4 m-0">
          <div class="card-container flex justify-content-between align-items-center comment-card_header mb-2 h-2rem">
            <div class="comment-card_header_left align-items-center flex">
              <a [routerLink]="['/user', comment.owner.user_name]" class="text-700">
                <span class="font-semibold text-lg mr-2 capitalize">{{ comment.owner.display_name | lowercase}}</span>
              </a>
              &#183;
              <span class="mx-2 text-sm" title="{{ comment.created_timestamp }}">{{ comment.fromNow.created }}</span>
              <ng-template [ngIf]="comment?.last_modified_timestamp">
                &#183;
                <p-chip label="{{'postDetail.edited' | translate}}" styleClass="mx-2"
                  pTooltip="{{ 'postDetail.edited' | translate }} {{ comment.fromNow.updated }}"
                  tooltipPosition="bottom" title="{{ comment.last_modified_timestamp }}">
                </p-chip>
              </ng-template>
            </div>
            <div class="comment-card_header_right align-items-center">
              <button pButton pRipple type="button" icon="pi pi-flag-fill"
                class="p-button-rounded p-button-secondary p-button-text button-menu mr-2 hidden md:block"
                (click)="onClickReport()"></button>
              <app-btn-menu [menuClass]="'shadow-6'" [items]="menuitem" [icon]="'pi pi-ellipsis-v'">
              </app-btn-menu>
            </div>
          </div>
          <p-divider></p-divider>
          <div class="comment-card_content mt-3 mb-1">
            <p #textContent class="read-more inline">
              <markdown [data]="comment.content | linkify"></markdown>
            </p>
            <span class="read-more-link cursor-pointer">
              <a readMore [readMore-length]="300" [readMore-element]="textContent">
                <span class="less underline font-medium">{{'postDetail.readLess' | translate}}<i
                    class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span class="more underline font-medium">{{'postDetail.readMore' | translate}}<i
                    class="fa fa-angle-right" aria-hidden="true"></i></span>
              </a>
            </span>
          </div>
        </div>
        <div class="comment-action py-2">
          <div class="flex">
            <button pButton pRipple
              label="{{'postDetail.commentAction.like' | translate:{ count: comment.likes | shortNumber } }}"
              (click)="onClickLike()" icon="pi pi-thumbs-up"
              [ngClass]="comment?.mapAction?.like ? 'font-bold text-primary p-button-outlined' : 'p-button-text'"
              class="p-button-sm p-button-secondary p-2 font-normal">
            </button>
            <button pButton pRipple
              label="{{'postDetail.commentAction.unlike' | translate:{ count: comment.dislikes | shortNumber } }}"
              (click)="onClickDislike()" icon="pi pi-thumbs-down"
              [ngClass]="comment?.mapAction?.dislike ? 'font-bold text-primary p-button-outlined' : 'p-button-text'"
              class="p-button-sm p-button-secondary p-2 font-normal mr-4">
            </button>
            <button pButton pRipple *ngIf="!comment.parent_id"
              label="{{'postDetail.commentAction.reply' | translate:{ count: comment.reply_comments?.total_size | shortNumber } }}"
              (click)="onClickReply()" icon="pi pi-reply"
              [ngClass]="comment?.mapAction?.reply ? 'font-bold text-primary p-button-outlined' : 'p-button-text'"
              class="p-button-sm p-button-plain p-2 font-normal">
            </button>
          </div>
        </div>
        <app-comment-input #replyForm (submit)="onSubmitReply()" *ngIf="isShowReply" [parent_id]="comment.id">
        </app-comment-input>
        <app-comment-card *ngFor="let c of comment?.reply_comments?.comments" [comment]="c">
        </app-comment-card>
        <div class="pb-4 pt-2 text-center"
          *ngIf="comment?.reply_comments?.total_size > comment?.reply_comments?.comments?.length">
          <span class="text-primary text-lg font-medium cursor-pointer button-link" (click)="loadMoreComment()">
            {{'postDetail.showMoreReply' | translate}}
            <i *ngIf="isLoadingMoreComment" class="pi pi-spin pi-spinner" style="font-size: 1.2rem"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>