<app-search-input [wFull]="true" [showPopular]="false" [hasAnimation]="true"></app-search-input>

<div class="post-page-layout container">
  <div class="grid">
    <div class="col-12 md:col-2">
      <div class="popular-tags w-full hidden md:block">
        <p class="font-semibold text-lg mt-4">{{ 'label.popular.tags' | translate }}</p>
        <ng-template [ngIf]="!isLoadingTag" [ngIfElse]="loadingTagBlock">
          <app-tag [tag]="tag" [color]="'bg-bluegray'" [width]="'auto'" [size]="'base'" *ngFor="let tag of popularTags">
          </app-tag>
        </ng-template>
        <ng-template #loadingTagBlock>
          <app-tag [loading]="true" [color]="'bg-bluegray'" [width]="'auto'" [size]="'base'" *ngFor="let tag of [1]">
          </app-tag>
        </ng-template>
      </div>
    </div>
    <div class="col-12 md:col-10">
      <div class="flex col-12 justify-content-between align-items-center">
        <div class="flex">

        </div>
        <div class="field-checkbox mb-0">
          <label for="" class="font-medium mr-2">{{'order.post.title' | translate}}</label>
          <p-dropdown [options]="listPostType" optionLabel="name" [(ngModel)]="currentPostType" [style]="{'width': '150px'}" (onChange)="onChangeType($event)"></p-dropdown>
        </div>
      </div>
      <div class="post-list col-12">
        <div class="grid post-list-grid" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="100"
          (scrolled)="onScroll()">
          <ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
            <div class="col-12 sm:col-6 md:col-6 lg:col-4" *ngFor="let item of listPosts">
              <app-post-card [post]="item" [showThumbnail]="false" [isGrid]="true"></app-post-card>
            </div>
          </ng-template>
          <ng-template [ngIf]="isLoadingMore">
            <div class="col-12">
              <app-loading-spinner></app-loading-spinner>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="col-12 sm:col-6 md:col-6 lg:col-4" *ngFor="let item of [1,2,3]">
    <app-post-card [loading]="true" [showThumbnail]="false" [isGrid]="true"></app-post-card>
  </div>
</ng-template>