<ng-template [ngIf]="keyword" [ngIfElse]="searchInput">
  <div class="search-page-layout mt-4 container">
    <div class="card p-2 md:p-4">
      <div class="flex flex-wrap justify-content-between">
        <p class="text-lg col-12 md:col-6 mb-1" [innerHTML]="'search.result' | translate: { query: keyword}"></p>
        <div class="right col-12 md:col-4">
          <div class="p-inputgroup">
            <input #inputQuery type="text" pInputText (keyup.enter)="onSearch()"
              placeholder="{{'search.placeholder' | translate}}" value="{{keyword}}">
            <button type="button" pButton pRipple (click)="onSearch()" icon="pi pi-search"></button>
          </div>
        </div>
      </div>

      <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>

      <div class="min-h-screen">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #searchInput>
  <app-search-input [query]="keyword" [wFull]="true" [showPopular]="true"></app-search-input>
</ng-template>