<ng-template [ngIf]="!isLoading">
  <div class="card px-2 md:px-3 lg:px-4">
    <div class="flex justify-content-between align-items-center mb-3">
      <p class="mb-0 text-xl">Manage Role ADMIN</p>
      <button icon="pi pi-plus" (click)="onClickCreate()" pButton pRipple label="Create role admin" class="">
      </button>
    </div>
    <p-table [value]="listRoles">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="role_name">Role name <p-sortIcon field="role_name"></p-sortIcon>
          </th>
          <th pSortableColumn="display_name">Display name <p-sortIcon field="display_name"></p-sortIcon>
          </th>
          <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon>
          </th>
          <th pSortableColumn="describe">Describe <p-sortIcon field="describe"></p-sortIcon>
          </th>
          <th>Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td>{{role.id}}</td>
          <td>{{role.role_name}}</td>
          <td>{{role.display_name}}</td>
          <td>{{role.priority}}</td>
          <td>{{role.describe}}</td>
          <td>
            <button pButton type="button" (click)="onClickEdit(role)" class="p-button-sm p-button-secondary" icon="pi pi-pencil"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '60vw'}"
  [maximizable]="true" [draggable]="false" [resizable]="false" (onHide)="currentRole = null; displayDialog = false">
  <ng-template pTemplate="header">
    <ng-template [ngIf]="viewDialog === 'edit' && currentRole">
      <p class="text-2xl max-1-line">Edit role admin: <b>{{currentRole.display_name}}</b></p>
    </ng-template>
    <ng-template [ngIf]="viewDialog === 'create'">
      <p class="font-semibold text-2xl max-1-line">Create new role admin</p>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="viewDialog === 'edit' && currentRole">
    <admin-create-edit-role [type]="'admin'" [view]="'edit'" [role]="currentRole" (onClose)="onSuccess()">
    </admin-create-edit-role>
  </ng-template>
  <ng-template [ngIf]="viewDialog === 'create'">
    <admin-create-edit-role [type]="'admin'" [view]="'create'" (onClose)="onSuccess()">
    </admin-create-edit-role>
  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>