<div class="change-password-wrapper card flex flex-wrap justify-content-center">
  <div class="flex flex-wrap col-12 md:col-8">
    <div class="header-container col-12 text-center">
      <p class="text-4xl font-bold text-800">{{'label.changepassword.title' | translate}}</p>
      <p class="text-600">{{'label.changepassword.description' | translate}}</p>
    </div>
    <div class="col-12 md:w-10 mx-auto">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="oldPassword" class="block text-900 font-medium text-lg mb-2 mt-3">
          {{'label.changepassword.oldPassword.label' | translate}}
        </label>
        <div class="relative">
          <input #oldPassword formControlName="oldPassword" id="oldPassword" type="password" pPassword
            [feedback]="false" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['oldPassword'].errors }"
            placeholder="{{'label.changepassword.oldPassword.placeholder' | translate}}"
            class="password-input w-full mb-1">
          <i class="pi password-icon absolute" [ngClass]="oldPassword.type === 'password' ? 'pi-eye' : 'pi-eye-slash'"
            (click)="oldPassword.type = oldPassword.type === 'password' ? 'text' : 'password'"></i>
        </div>
        <div *ngIf="(submitted || f['oldPassword'].touched) && f['oldPassword'].errors" class="invalid-feedback">
          <div class="flex align-items-end mb-1" *ngIf="f['oldPassword'].errors['required']">
            <small class="p-error inline list-span">{{'label.changepassword.validation.oldPassword.required' |
              translate}}</small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['oldPassword'].errors['minlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.oldPassword.min' | translate : { min: passwordPolicy.min_len} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['oldPassword'].errors['maxlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.oldPassword.max' | translate : { max: passwordPolicy.max_len} }}
            </small>
          </div>
        </div>

        <label for="newPassword" class="block text-900 font-medium text-lg mb-2 mt-3">
          {{'label.changepassword.newPassword.label' | translate }}
        </label>
        <div class="relative">
          <input #newPassword formControlName="newPassword" id="newPassword" type="password" pPassword
            [feedback]="false" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['newPassword'].errors }"
            placeholder="{{'label.changepassword.newPassword.placeholder' | translate}}"
            class="password-input w-full mb-1">
          <i class="pi password-icon absolute" [ngClass]="newPassword.type === 'password' ? 'pi-eye' : 'pi-eye-slash'"
            (click)="newPassword.type = newPassword.type === 'password' ? 'text' : 'password'"></i>
        </div>
        <div *ngIf="(submitted || f['newPassword'].touched) && f['newPassword'].errors" class="invalid-feedback">
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['required']">
            <small class="p-error inline list-span">{{'label.changepassword.validation.newPassword.required' |
              translate}}</small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['minlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.min' | translate : { min: passwordPolicy.min_len} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['maxlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.max' | translate : { max: passwordPolicy.max_len} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['minspecial']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.special' | translate : { num:
              passwordPolicy.min_special_char} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['minnumber']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.number' | translate : { num:
              passwordPolicy.min_number_char} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['minupper']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.upper' | translate : { num: passwordPolicy.min_upper_char}
              }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['newPassword'].errors['minlower']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.newPassword.lower' | translate : { num: passwordPolicy.min_lower_char}
              }}
            </small>
          </div>
        </div>

        <label for="confirmPassword" class="block text-900 font-medium text-lg mb-2 mt-3">
          {{'label.changepassword.confirmPassword.label' | translate }}
        </label>
        <div class="relative">
          <input #confirmPassword formControlName="confirmPassword" id="confirmPassword" type="password" pPassword
            [feedback]="false" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['confirmPassword'].errors }"
            placeholder="{{'label.changepassword.confirmPassword.placeholder' | translate}}"
            class="password-input w-full mb-1">
          <i class="pi password-icon absolute"
            [ngClass]="confirmPassword.type === 'password' ? 'pi-eye' : 'pi-eye-slash'"
            (click)="confirmPassword.type = confirmPassword.type === 'password' ? 'text' : 'password'"></i>
        </div>
        <div *ngIf="(submitted || f['confirmPassword'].touched) && f['confirmPassword'].errors"
          class="invalid-feedback">
          <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['required']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.confirmPassword.required' | translate}}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['matching']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.confirmPassword.match' | translate}}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['minlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.confirmPassword.min' | translate : { min: passwordPolicy.min_len} }}
            </small>
          </div>
          <div class="flex align-items-end mb-1" *ngIf="f['confirmPassword'].errors['maxlength']">
            <small class="p-error inline list-span">
              {{'label.changepassword.validation.confirmPassword.max' | translate : { max: passwordPolicy.max_len} }}
            </small>
          </div>
        </div>

        <p-messages [(value)]="message" [enableService]="false"></p-messages>

        <button pButton pRipple label="{{'label.changepassword.submit' | translate}}"
          class="w-full mt-4 p-3 text-xl"></button>
      </form>
    </div>
  </div>

</div>

<p-confirmDialog key="changePasswordDialog" [breakpoints]="{'960px': '70vw', '640px': '90vw'}" [style]="{width: '50vw'}"
  [dismissableMask]="true">
</p-confirmDialog>