<div class="flex justify-content-center align-items-center h-full">
  <div class="col-12 md:col-6 lg:col-5 align-items-center">
    <div class="card h-full w-full m-0 py-7 px-4">
      <ng-template [ngIf]="!success" [ngIfElse]="successBlock">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Admin Forgot Password</div>
          <span class="text-600 font-medium">{{ 'label.forgotpassword.description' | translate }}</span>
        </div>

        <div class="w-full md:w-10 mx-auto">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label requiredField for="email"
              class="block text-900 text-lg font-medium mb-2">{{'label.forgotpassword.email.label' |
              translate }}
            </label>
            <input formControlName="email" id="email" type="text"
              placeholder="{{'label.forgotpassword.email.placeholder' | translate}}" pInputText class="w-full mb-1"
              [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['email'].errors }" style="padding:1rem;">
            <div *ngIf="(submitted || f['email'].touched) && f['email'].errors" class="invalid-feedback">
              <div class="flex align-items-end" *ngIf="f['email'].errors['required']">
                <i class="pi pi-exclamation-triangle inline p-error mr-1"></i>
                <small class="p-error inline">{{'label.forgotpassword.validation.email.required' | translate}}</small>
              </div>
            </div>

            <p-messages [(value)]="message" [enableService]="false"></p-messages>

            <button type="submit" pButton pRipple label="{{'label.forgotpassword.submit' | translate}}"
              class="w-full p-3 text-lg mt-4">
            </button>

          </form>

          <p-divider align="center"></p-divider>

          <div class="flex align-items-center justify-content-center mt-5">
            <a class="font-medium ml-2 text-right cursor-pointer button-link" [routerLink]="['/admin/login']"
              style="color: var(--primary-color)">{{'label.forgotpassword.loginHere' | translate }}</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #successBlock>
  <div class="w-full md:w-10 mx-auto">
    <div class="text-center mb-5">
      <app-check-icon></app-check-icon>
      <div class="text-900 text-3xl font-medium mt-6 mb-3">{{ 'label.forgotpassword.success.title' | translate }}</div>
      <p class="text-600 font-medium">{{ 'label.forgotpassword.success.description' | translate }}</p>
    </div>
  </div>
</ng-template>

<app-loading [loading]="isLoading"></app-loading>

<app-switch-theme class="hidden"></app-switch-theme>