<p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custom-scrollbar">
  <div class="layout-menu-container">
    <ul class="layout-menu" role="menu">
      <li appp-menu class="layout-menuitem-category" *ngFor="let item of menu; let i = index;">
        <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
        <a [routerLink]="i.routerLink" [routerLinkActive]="'active'" title="{{i.label}}"
          *ngFor="let i of item.items" (click)="onClickMenu(i)">
          <i class="{{i.icon}} mr-1"></i>
          <span>{{i.label}}</span>
          <p-badge class="ml-auto" severity="{{i.badgeStyleClass}}" *ngIf="+i.badge > 0" [value]="i.badge"></p-badge>
        </a>
      </li>
    </ul>
  </div>
</p-scrollPanel>