:host ::ng-deep {
  .language-listbox {
    .p-button {
      padding: 0.5rem !important;
    }

    .flag-listbox {
      width: 20px !important;
    }
  }

  .language-dropdown {
    .p-dropdown-label {
      padding: 0.5rem !important;
    }

    .p-inputtext {
      box-shadow: none !important;
    }

    .p-dropdown {
      background: transparent !important;
      border: none !important;
    }

    .p-dropdown-trigger {
      width: 2rem !important;
      display: none ;
    }

    .p-dropdown-items .p-dropdown-item {
      padding: 0.75rem !important;
    }

    .country-item {
      .flag {
        width: 36px !important;
      }
    }
  }
}