<p-dropdown *ngIf="selectedLanguage" [options]="listLanguages" [(ngModel)]="selectedLanguage.lang" optionLabel="name" optionValue="lang"
  (onChange)="onChangeLanguage($event)">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value flex align-items-center" *ngIf="selectedLanguage">
      <img src="assets/styles/flags/flag_placeholder.png" [class]="'mr-2 flag flag-' + selectedLanguage.code" />
      <div>{{selectedLanguage.name}}</div>
    </div>
  </ng-template>
  <ng-template let-language pTemplate="item">
    <div class="country-item flex align-items-center">
      <img src="assets/styles/flags/flag_placeholder.png" [class]="'mr-2 flag flag-' + language.code" />
      <div>{{language.name}}</div>
    </div>
  </ng-template>
</p-dropdown>