@import 'styles/scss/mixins.scss';

.scroll-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  z-index: 999;
  transition: all 0.2s ease-in-out;

  &.show-scrollTop {
    opacity: 1;
  }

  @include breakpoint (max, 768px) {
    right: 20px;
    bottom: 64px;
  }
}