.create-post-wrapper {
  .post-thumbnail-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .position-sticky {
    position: sticky;
    top: 66px;
    z-index: 5;
  }

  .min-button-width {
    min-width: 120px;
  }
}

:host ::ng-deep .p-tabview {
  position: relative;

  .p-tabview-panels {
    min-height: 500px;
    padding: 0 !important;

    .create-header {
      top: 5px;
      right: 16px;
      position: absolute;
    }

    .markdown-editor {
      min-height: 400px;
    }

    a {
      color: var(--primary-color) !important;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .p-tabview-nav {
    li {
      // width: 50% !important;

      .p-tabview-nav-link {
        min-width: 90px;
        justify-content: center !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;

        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }

  .p-tabview-nav-content {
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }

  .ql-container {
    font-family: inherit !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .p-dialog .p-dialog-footer {
    text-align: right !important;
  }
}

:host ::ng-deep {
  .p-editor-container {
    .p-editor-content {
      height: 70vh !important;
    }
  }

  .p-steps {
    .p-steps-item {
      .p-menuitem-link {
        cursor: pointer;
        box-shadow: none !important;
      }
    }
  }

  .p-fileupload {
    .p-fileupload-content {
      display: none !important;
    }
  }

  .p-dropdown {
    min-width: 130px;
  }

  .p-inputtext.input-title,
  .p-selectbutton>.p-component,
  .p-chips,
  .p-autocomplete,
  .p-inputnumber,
  .p-treeselect {
    height: 3.5rem;
  }

  .p-chips,
  .p-chips-multiple-container {
    width: 100% !important;

    .p-chips-token {
      margin-bottom: 0.25rem !important;
    }
  }

  .p-autocomplete,
  .p-autocomplete-multiple-container {
    width: 100% !important;

    .p-autocomplete-token {
      margin-bottom: 0.25rem !important;
    }
  }

  .p-cascadeselect .p-cascadeselect-panel {
    left: 0 !important;
  }

  .p-treeselect {
    width: 100% !important;

    .p-treeselect-label.p-placeholder {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
      box-shadow: none !important;
    }
  }

  p-inputnumber,
  .p-inputnumber,
  .p-inputnumber-input {
    width: 100% !important;
  }
}