<div class="create-post-wrapper container pt-4">
  <div class="card">
    <p-steps [model]="steps" [activeIndex]="activeStep"></p-steps>
    <p-messages [(value)]="message" [enableService]="false"></p-messages>
  </div>
  <div #editView class="grid justify-content-center pb-4">
    <div *ngIf="activeStep === 0; then step1"></div>
    <div *ngIf="activeStep === 1; then step2"></div>
    <div *ngIf="activeStep === 2; then step3"></div>

    <app-dock>
      <div class="flex justify-content-center py-2">
        <button pButton pRipple type="button" label="{{'createPost.discard' | translate}}" (click)="onClickDiscard()"
          class="min-button-width p-button-outlined p-button-danger ml-2"></button>
        <button [disabled]="activeStep === 0" icon="pi pi-angle-left" iconPos="left" pButton pRipple type="button"
          label="{{'createPost.back' | translate}}" (click)="onClickBack()"
          class="p-button-outlined min-button-width mx-1 md:mx-2"></button>
        <button *ngIf="activeStep !== steps.length - 1" icon="pi pi-angle-right" iconPos="right" pButton pRipple
          type="button" label="{{'createPost.next' | translate}}" (click)="onClickNext()"
          class="p-button-raised min-button-width mx-1 md:mx-2"></button>
        <button *ngIf="activeStep === steps.length - 1" pButton pRipple type="button"
          label="{{'createPost.publish' | translate}}" (click)="onClickPublish()"
          class="p-button-raised p-button-success min-button-width mx-1 md:mx-2"></button>
      </div>
    </app-dock>
  </div>
</div>

<ng-template #step1>
  <div class="text-center col-12 md:col-8">
    <h3>{{'createPost.step1.title' | translate}}</h3>
    <ng-lottie width="100%" height="100%" class="mx-auto" [options]="options"></ng-lottie>
  </div>
</ng-template>

<ng-template #step2>
  <div class="col-12 md:col-6">
    <p requiredField class="text-md font-medium mb-1 mt-3">{{'createPost.title' | translate}}</p>
    <input [(ngModel)]="title" [placeholder]="'createPost.form.titlePlaceholder' | translate"
      (ngModelChange)="onChangeTitle($event)" class="input-title w-full mb-2" pInputText>
    <span id="more-chip-help" class="block">{{'createPost.slug' | translate}}
      <span class="underline text-primary word-break-all">{{slug}}</span>
    </span>

    <p requiredField class="text-md font-medium mb-1 mt-3">{{'createPost.shortContent' | translate}}</p>
    <textarea [(ngModel)]="short_content" (ngModelChange)="onChangeShortContent($event)"
      [placeholder]="'createPost.form.shortContentPlaceholder' | translate" class="w-full" rows="4"
      pInputTextarea></textarea>

    <p class="text-md font-medium mb-1 mt-3">{{'createPost.status.title' | translate}}</p>
    <p-selectButton [options]="statusOptions" (onChange)="onChangeStatus($event)" [(ngModel)]="private"
      optionLabel="label" optionValue="value">
      <ng-template let-item>
        <i [class]="item.icon"></i>
        <span class="ml-2">{{item.label}}</span>
      </ng-template>
    </p-selectButton>

  </div>
  <div class="col-12 md:col-6">
    <p requiredField class="text-md font-medium mb-1 mt-3">{{'createPost.category' | translate}}</p>
    <!-- <p-cascadeSelect [(ngModel)]="selectedCategory" (onChange)="onChangeSelectCategory($event)"
        [options]="listCategory" optionLabel="display_name" optionGroupLabel="display_name"
        [placeholder]="'createPost.form.categoryPlaceHolder' | translate"
        [optionGroupChildren]="['children', 'children']" [style]="{'minWidth': '100%'}">
        <ng-template pTemplate="option" let-option>
          <div class="country-item">
            <i class="pi pi-folder mr-2" *ngIf="option.children"></i>
            <span>{{option.display_name}}</span>
          </div>
        </ng-template>
      </p-cascadeSelect> -->
    <p-treeSelect [(ngModel)]="selectedCategory" (onNodeSelect)="onSelectCategory()"
      (onNodeUnselect)="onSelectCategory()" [options]="listCategory" selectionMode="checkbox" display="chip"
      [metaKeySelection]="false" [placeholder]="'createPost.form.categoryPlaceHolder' | translate">
    </p-treeSelect>

    <p requiredField class="text-md font-medium mb-1 mt-3">{{'createPost.timeRead' | translate}}</p>
    <p-inputNumber [(ngModel)]="time_read" (ngModelChange)="onChangeTimeRead($event)" mode="decimal"
      [showButtons]="true" inputId="minmax-buttons" [min]="2" [max]="50">
    </p-inputNumber>

    <p class="text-md font-medium mb-1 mt-3">{{'createPost.tag' | translate}}</p>
    <p-autoComplete [(ngModel)]="listTags" field="tag" [suggestions]="listFilterTags" (ngModelChange)="onChangeTags($event)"
      (completeMethod)="onFilterTag($event)" [unique]="true" [virtualScroll]="true" [multiple]="true" [dropdown]="true"
      [autoHighlight]="true" [delay]="500" [placeholder]="'createPost.form.tagPlaceHolder' | translate">
      <ng-template let-item pTemplate="item">
        <div class="flex justify-content-between" pTooltip="{{ item.name }}" tooltipPosition="top">
          <div class="left">
            <i class="pi pi-hashtag mr-1"></i>{{item.tag}}
          </div>
          <div class="right" *ngIf="!item.is_new">
            <i class="pi pi-check-circle"></i>
          </div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="selectedItem">
        <i class="pi pi-hashtag mr-1"></i>{{item.tag}}
      </ng-template>
    </p-autoComplete>

    <p class="text-md font-medium mb-1 mt-3">{{'createPost.thumbnail.title' | translate}}</p>
    <p-fileUpload #fileUpload name="myfile[]" [chooseLabel]="'createPost.thumbnail.select' | translate"
      chooseIcon="pi pi-upload" [cancelLabel]="'createPost.thumbnail.cancel' | translate" [showUploadButton]="false"
      accept=".png, .jpg, .jpeg, .svg, .webp" (onSelect)="onSelectThumbnail($event)" (onClear)="onClearSelect()"
      [maxFileSize]="MAX_FILE_SIZE"></p-fileUpload>
    <!-- <input type="text" hidden class="w-full" [placeholder]="'createPost.form.thumbnailPlaceholder' | translate"
        pInputText [(ngModel)]="thumbnail" (ngModelChange)="onChangeThumbnail($event)"> -->
    <div *ngIf="!validThumbnail" class="invalid-feedback mt-1">
      <div class="flex align-items-end">
        <i class="pi pi-exclamation-triangle inline p-error mr-1"></i>
        <small class="p-error inline">{{'createPost.form.thumbnailError' | translate}}</small>
      </div>
    </div>
    <img *ngIf="thumbnailPreview" src="{{ thumbnailPreview }}" class="post-thumbnail-image border-round mt-2 shadow-2"
      alt="Post Thumbnail">
  </div>
</ng-template>

<ng-template #step3>
  <div class="editor-post col-12 justify-content-center">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>{{'createPost.edit' | translate}}</span>
          <!-- <i class="ml-2 pi pi-pencil"></i> -->
        </ng-template>
        <ng-template [ngIf]="selectedEditorType == 'HTML'" [ngIfElse]="markdownEditor">
          <p-editor [(ngModel)]="content" (ngModelChange)="onChangeContent($event)"
            [placeholder]="'createPost.placeholder' | translate" [style]="{'min-height':'420px'}">
          </p-editor>
        </ng-template>
        <ng-template #markdownEditor>
          <textarea [(ngModel)]="contentMd" class="w-full" classs="markdown-editor"
            (ngModelChange)="onChangeContentMd($event)" pInputTextarea rows="32"
            placeholder="{{'createPost.placeholder' | translate}}">
          </textarea>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>{{'createPost.preview' | translate}}</span>
          <!-- <i class="ml-2 pi pi-eye"></i> -->
        </ng-template>
        <div id="post-content" class="post-content ql-editor p-3">
          <img imageOnError *ngIf="validThumbnail && thumbnail" src="{{ thumbnail }}" alt=""
            class="post-thumbnail-image border-round-top shadow-4" />
          <p *ngIf="title" class="text-5xl font-bold" style="word-break: break-word;">{{title}}</p>
          <p *ngIf="!title" class="text-5xl font-bold text-500">{{'createPost.form.titleHere' | translate}}</p>
          <ng-template [ngIf]="selectedEditorType === 'HTML'" [ngIfElse]="markdown">
            <div class="preview-content content-HTML" [innerHTML]="content"></div>
          </ng-template>
          <ng-template #markdown>
            <div class="preview-content content-HTML" [innerHTML]="contentMdComplied"></div>
          </ng-template>
        </div>
      </p-tabPanel>

      <div class="create-header inline-flex align-items-center">
        <p class="text-md hidden md:flex font-medium mb-0 mr-2">{{'createPost.editor' | translate}}: </p>
        <p-dropdown [options]="types" [(ngModel)]="selectedEditorType" (onChange)="onChangeType($event)" placeholder="">
        </p-dropdown>
      </div>
    </p-tabView>

    <div class="flex justify-content-end mt-4">
      <!-- <button pButton pRipple type="button" label="{{'createPost.discard' | translate}}" (click)="onClickDiscard()"
        class="min-button-width p-button-outlined p-button-danger ml-2"></button> -->
      <!-- <button pButton pRipple type="button" label="{{'createPost.saveDraft' | translate}}" (click)="onClickSaveDraft()"
        class="min-button-width p-button-outlined ml-2"></button>
      <button pButton pRipple type="button" label="{{'createPost.publish' | translate}}" (click)="onClickPublish()"
        class="min-button-width p-button-raised p-button-success ml-2"></button> -->
    </div>
  </div>
</ng-template>


<p-confirmDialog key="createPostDialog" [breakpoints]="{'960px': '70vw', '640px': '90vw'}" [style]="{width: '50vw'}"
  [dismissableMask]="true">
</p-confirmDialog>

<p-toast [key]="'createPostToast'" [preventOpenDuplicates]="true"></p-toast>

<app-loading [loading]="isLoading"></app-loading>