<div class="layout-wrapper" [ngClass]="{'layout-overlay':isOverlay(),
'layout-static':isStatic(),
'layout-theme-light':!config.dark,
'layout-theme-dark':config.dark,
'layout-overlay-sidebar-active': overlayMenuActive,
'layout-static-sidebar-inactive': staticMenuInactive,
'layout-mobile-sidebar-active':menuActiveMobile,
'p-ripple-disabled': !config.ripple, 'p-input-filled': config.inputStyle === 'filled'}"
  *ngIf="isLoggedIn; else gotoLogin">
  <app-topbar-admin></app-topbar-admin>
  <div class="layout-sidebar">
    <app-menu></app-menu>
  </div>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '70vw', '640px': '96vw'}" [style]="{width: '50vw'}" [dismissableMask]="true">
</p-confirmDialog>
<p-toast [preventOpenDuplicates]="true"></p-toast>

<ng-template #gotoLogin>
  <div class="h-screen w-screen">
    <div class="flex h-full justify-content-center align-items-center">
      <button [routerLink]="['./login']" pButton pRipple type="button" label="Go to Login Page"
        class="p-button-raised p-button-danger"></button>
    </div>
  </div>
</ng-template>