<ng-template [ngIf]="!success" [ngIfElse]="successBlock">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">{{ 'label.forgotpassword.title' | translate }}</div>
    <span class="text-600 font-medium">{{ 'label.forgotpassword.description' | translate }}</span>
  </div>

  <div class="w-full md:w-10 mx-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label requiredField for="email" class="block text-900 text-lg font-medium mb-2">{{'label.forgotpassword.email.label' |
        translate }}
      </label>
      <input formControlName="email" id="email" type="text" autofocus
        placeholder="{{'label.forgotpassword.email.placeholder' | translate}}" pInputText class="w-full mb-1"
        [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['email'].errors }" style="padding:1rem;">
      <div *ngIf="(submitted || f['email'].touched) && f['email'].errors" class="invalid-feedback">
        <div class="flex align-items-end" *ngIf="f['email'].errors['required']">
          <i class="pi pi-exclamation-triangle inline p-error mr-1"></i>
          <small class="p-error inline">{{'label.forgotpassword.validation.email.required' | translate}}</small>
        </div>
      </div>

      <p-messages [(value)]="message" [enableService]="false"></p-messages>

      <button type="submit" pButton pRipple label="{{'label.forgotpassword.submit' | translate}}"
        class="w-full p-3 text-lg mt-4">
      </button>

    </form>

    <p-divider align="center"></p-divider>

    <div class="flex align-items-center justify-content-center mt-5">
      <a class="font-medium ml-2 text-right cursor-pointer button-link" [routerLink]="['/auth/login']"
        style="color: var(--primary-color)">{{'label.forgotpassword.loginHere' | translate }}</a>
      <p-divider layout="vertical"></p-divider>
      <a class="font-medium ml-2 text-right cursor-pointer button-link" [routerLink]="['/auth/register']"
        style="color: var(--primary-color)">{{'label.forgotpassword.registerHere' | translate }}</a>
    </div>
  </div>
</ng-template>
<ng-template #successBlock>

</ng-template>

<app-loading [loading]="isLoading"></app-loading>