:host ::ng-deep {
  .p-inputtext {
    width: 100%;
    padding: 1rem;

    &:focus {
      &.ng-invalid.ng-dirty {
        box-shadow: 0 0 0 0.2rem #ffcdcd;
      }
    }
  }

  .password-icon {
    right: 0;
    top: 32%;
    margin-right: 1.5rem !important;
    color: var(--primary-color) !important;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}
}