<div class="search-input-wrapper pt-3">
  <div class="flex align-items-center justify-content-center">
    <div class="col-12 md:col-6 align-items-center justify-content-center">
      <div class="p-field p-fluid my-3">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="search" class="shadow-1" pInputText placeholder="{{'label.search' | translate:params}}" >
          </form>
        </span>
      </div>
      <div class="my-3 px-2 md:px-5 flex">
        <span class="m-2 white-space-nowrap">{{'label.popular.tags' | translate}}</span>
        <div class="tag-recommend py-0 flex flex-wrap">
          <app-tag [tag]="tag" *ngFor="let tag of tags"></app-tag>
        </div>
      </div>
    </div>
  </div>
</div>