<ng-template [ngIf]="!loading" [ngIfElse]="loadingCard">
  <div class="card p-3 recommend-post-card mb-1">
    <div class="card-container flex flex-wrap">
      <div class="col-12 flex align-items-center justify-content-between" *ngIf="showStatus || showMenu">
        <app-status-badge *ngIf="showStatus" [label]="post.status"></app-status-badge>

        <div class="flex">
          <app-btn-menu [menuClass]="'shadow-4'" [items]="menuitem" [icon]="'pi pi-ellipsis-h'">
          </app-btn-menu>
        </div>
      </div>
      <div class="col-12">
        <a [routerLink]="['/post', post.slug]">
          <h3 class="card-heading text-800 text-lg font-semibold" title="{{ post.title }}">
            {{ post.title }}
          </h3>
          <p class="card-description text-gray-600" [innerHTML]="post.short_content">
          </p>
        </a>
      </div>
      <div class="col-12 flex justify-content-between align-items-center pb-0">
        <div class="flex">
          <div
            class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:surface-200 p-1 border-round cursor-default"
            pTooltip="{{'common.like' | translate}}: {{ post.likes | number:'1.0-2'}}" tooltipPosition="bottom"
            [ngClass]="{'text-primary': post.mapAction.like && showAction}">
            <span class="text-sm mr-1 font-normal">{{ post.likes | shortNumber }}</span>
            <i style="font-size: 1.1rem" class="pi pi-thumbs-up"></i>
          </div>
          <div
            class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:surface-200 p-1 border-round cursor-default"
            pTooltip="{{'common.comment' | translate}}: {{post.comments | number:'1.0-2'}}" tooltipPosition="bottom"
            [ngClass]="{'text-primary': post.mapAction.comment && showAction}">
            <span class="text-sm mr-1 font-normal">{{ post.comments | shortNumber }}</span>
            <i style="font-size: 1.2rem" class="pi pi-comment"></i>
          </div>
          <div
            class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:surface-200 p-1 border-round cursor-default"
            pTooltip="{{'common.view' | translate}}: {{post.views | number:'1.0-2'}}" tooltipPosition="bottom"
            [ngClass]="{'text-primary': post.mapAction.visited && showAction}">
            <span class="text-sm mr-1 font-normal">{{ post.views | shortNumber }}</span>
            <i style="font-size: 1.25rem" class="pi pi-eye"></i>
          </div>
          <div *ngIf="showVisited"
            class="card-block-action inline-flex justify-content-between align-items-center mr-2 hover:surface-200 p-1 border-round cursor-default"
            pTooltip="{{'common.visited' | translate}}: {{post?.visited_count | number:'1.0-2'}}" tooltipPosition="bottom">
            <span class="text-sm mr-1 font-normal">{{ post?.visited_count | shortNumber }}</span>
            <i style="font-size: 1.25rem" class="pi pi-eye"></i>
          </div>
        </div>
        <div class="flex">
          <div class="post-time flex" *ngIf="!isSmall">
            <span class="text-sm text-600 mr-2" title=" {{ post.approved_timestamp }}">
              {{ post.fromNow.approved }}
            </span>
            <!-- &#183;
            <span class="text-sm text-600 mx-2">
              {{ "card.time_read" | translate: post }}
            </span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '96vw'}"
  [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <span class="font-semibold text-800 text-xl">{{'card.recommnedCard.changeStatus.title' | translate}}</span>
  </ng-template>

  <p [innerHTML]="'card.recommnedCard.changeStatus.description' | translate : { title: post.title}"></p>

  <div class="field-radiobutton">
    <p-radioButton name="status" value="Approved" [(ngModel)]="status" inputId="Approved"></p-radioButton>
    <label for="Approved">{{'card.recommnedCard.changeStatus.status.Approved' | translate}}</label>
  </div>
  <div class="field-radiobutton">
    <p-radioButton name="status" value="Private" [(ngModel)]="status" inputId="Private"></p-radioButton>
    <label for="Private">{{'card.recommnedCard.changeStatus.status.Private' | translate}}</label>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="{{'card.recommnedCard.changeStatus.cancel' | translate}}"
      (click)="displayDialog = false" class="min-button-width p-button-outlined"></button>
    <button pButton pRipple type="button" [disabled]="post.status === status" [loading]="isLoading"
      label="{{'card.recommnedCard.changeStatus.ok' | translate}}" (click)="onClickChangsStatus()"
      class="min-button-width p-button-raised"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [key]="'recommendCard' + post.id" [breakpoints]="{'960px': '70vw', '640px': '90vw'}" [style]="{width: '50vw'}"
  [dismissableMask]="true">
</p-confirmDialog>

<ng-template #loadingCard>
  <div class="card p-3 recommend-post-card mb-1">
    <div class="card-container flex flex-wrap">
      <div class="flex flex-wrap w-full">
        <div class="col-12" *ngIf="showStatus">
          <p-skeleton width="6rem" height="1.2rem"></p-skeleton>
        </div>
        <div class="col-12">
          <h3 class="card-heading text-800 text-lg font-semibold">
            <p-skeleton width="12rem" height="1.5rem"></p-skeleton>
          </h3>
          <p class="card-description text-gray-600">
            <p-skeleton width="100%" height="1rem" styleClass="mb-3"></p-skeleton>
            <p-skeleton width="16rem" height="1rem"></p-skeleton>
          </p>
        </div>
        <div class="col-12 flex justify-content-between align-items-center pb-1">
          <div class="flex">
            <div class="card-block-action inline-flex justify-content-between align-items-center mr-2">
              <p-skeleton width="3rem" height="1.5rem"></p-skeleton>
            </div>
            <div class="card-block-action inline-flex justify-content-between align-items-center mr-2">
              <p-skeleton width="3rem" height="1.5rem"></p-skeleton>
            </div>
            <div class="card-block-action inline-flex justify-content-between align-items-center mr-2">
              <p-skeleton width="3rem" height="1.5rem"></p-skeleton>
            </div>
          </div>
          <div class="flex">
            <div class="post-time flex" *ngIf="!isSmall">
              <p-skeleton width="8rem" height="1.5rem"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>