:host ::ng-deep .detail-post-layout {
  .post-content {
    img {
      display: block;
      margin: 0 auto;
      max-height: 400px;
    }
  }
  .detail-wrapper {
    .post-thumbnail-image {
      max-height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}