@import 'styles/scss/mixins.scss';

.tag-page-wrapper {
  .tag-detail {
    .tag-detail-image {
      div {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .max1line {
    @include maxline(1);
    word-break: break-all;
  }

  .min-button-follow {
    min-width: 160px;
  }
}