<ng-template [ngIf]="loading">
  <div class="loading-overlay">
    <div class="w-screen h-screen flex flex-wrap justify-content-center align-items-center relative">
      <ng-template [ngIf]="type === '2square'">
        <div class="spinner-box">
          <div class="configure-border-1">
            <div class="configure-core"></div>
          </div>
          <div class="configure-border-2">
            <div class="configure-core"></div>
          </div>
          <div class="loading-text z-5 text-0 absolute">
            <i class="pi pi-spin pi-spinner text-3xl"></i>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="type === 'planet'">
        <object type="image/svg+xml" data="assets/images/svg/loading-planet.svg" alt="loading image" img=""
          width="100%"></object>
      </ng-template>
      <ng-template [ngIf]="type === '4square'">
        <ng-lottie class="col-4 md:col-2" width="100%" height="100%" [options]="options"></ng-lottie>
      </ng-template>
    </div>
  </div>
</ng-template>