<ng-template [ngIf]="!isLoading">
  <div class="card px-2 md:px-3 lg:px-4">
    <div class="flex justify-content-between align-items-center mb-3">
      <p class="mb-0 text-xl">Manage Tag</p>
      <button icon="pi pi-plus" (click)="onClickCreate()" pButton pRipple label="Create tag" class="">
      </button>
    </div>
    <p-table #dt [value]="listData" [scrollable]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50,100]" responsiveLayout="scroll" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['tag','name']">
      <ng-template pTemplate="caption">
        <div class="table-header flex justify-content-between align-items-center">
          <div class="header-left">
          </div>
          <div class="header-right">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input #globalText pInputText type="text" (input)="dt.filterGlobal(globalText.value, 'contains')"
                placeholder="Global Search" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="tag">Tag <p-sortIcon field="tag"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="created_timestamp">Created <p-sortIcon field="created_timestamp"></p-sortIcon>
          </th>
          <th pSortableColumn="last_modified_timestamp">Modified <p-sortIcon field="last_modified_timestamp">
            </p-sortIcon>
          </th>
          <th>Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tag>
        <tr>
          <td>{{tag.id}}</td>
          <td>
            <a target="_blank" href="/tag/{{tag.tag}}">{{tag.tag}}</a>
          </td>
          <td>{{tag.name}}</td>
          <td>{{tag.status}}</td>
          <td title="{{tag.created_timestamp}}">{{tag.created_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td title="{{tag.last_modified_timestamp}}">{{tag.last_modified_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td>
            <button pButton type="button" (click)="onClickEdit(tag)" class="p-button-sm p-button-secondary"
              icon="pi pi-pencil"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" (onHide)="onHideDialog()"
  [style]="{width: '60vw'}" [maximizable]="true" [draggable]="false" [resizable]="false"
  (onHide)="currentTag = null">
  <ng-template pTemplate="header">
    <ng-template [ngIf]="viewDialog === 'edit'">
      <p class="text-2xl max-1-line">Edit tag: <b>#{{currentTag?.tag}}</b></p>
    </ng-template>
    <ng-template [ngIf]="viewDialog === 'create'">
      <p class="text-2xl max-1-line">Create new tag</p>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="viewDialog === 'edit' && currentTag">
    <admin-create-edit-tag [view]="'edit'" [tag]="currentTag" (onClose)="onSuccess()">
    </admin-create-edit-tag>
  </ng-template>
  <ng-template [ngIf]=" viewDialog==='create'">
    <admin-create-edit-tag [view]="'create'" (onClose)="onSuccess()"></admin-create-edit-tag>
  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<app-loading [loading]="isLoading"></app-loading>