:host ::ng-deep .user-infor-page-wrapper {
  .user-avatar {

    .p-avatar,
    .p-image>img,
    .p-image-preview-indicator {
      font-size: 4rem;
      border-radius: 50% !important;
      width: 8rem !important;
      height: 8rem !important;
    }
  }

  .p-button {
    min-width: 150px;
  }
}