@import 'styles/scss/mixins.scss';

:host ::ng-deep {
  .post-thumbnail-image {
    .p-image-preview-container {
      width: 100%;

      img {
        max-height: 320px;
        width: 100%;
        object-fit: cover;

        @include breakpoint(max, 540px) {
          max-height: 250px;
        }

        @include breakpoint(max, 768px) {
          max-height: 280px;
        }
      }
    }
  }
}