:host ::ng-deep {
  .top-bar-wrapper {
    // background: linear-gradient(104.01deg, #d0e4ec 9.98%, #EAF2F5 90.02%);
    // background-color: var(--surface-ground);
    z-index: 100 !important;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08) !important;

    &.top-bar-sticky {
      backdrop-filter: blur(20px);
      box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
    }

    .menu-right {

      .btn-notification {

        &.btn-active,
        &:hover {
          background: #e9ecef;
        }
      }
    }

    .top-bar-menu {
      height: 5rem;

      .list-menu {
        padding-left: 1rem;

        .menu-item {
          min-width: 100px;

          .menu-item-link {
            font-size: 1.05rem;
            color: inherit;
            position: relative;
            text-decoration: none;

            &:hover {
              color: var(--primary-color);
              font-weight: 500;
              bottom: 1px;
              transition: 0.3s;
              // transition: transform 0.36s cubic-bezier(0, 0, 0.2, 1), opacity 0.36s cubic-bezier(0, 0, 0.2, 1);

              &::after {
                width: 100%;
                left: 0;
                height: 3px;
              }
            }

            &.active {
              color: var(--primary-color);
              font-weight: 700 !important;
              bottom: 0 !important;

              &::after {
                width: 100%;
                left: 0;
                height: 4px !important;
              }
            }

            &::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -6px;
              right: 0;
              width: 0;
              height: 4px;
              background-color: var(--primary-color);
              transition: all 0.3s linear;
            }
          }

          &.menu-dropdown {
            position: relative;

            .menu-dropdown-list {
              padding-left: 0;
              background-color: var(--surface-ground);
              position: absolute;
              display: none;
              z-index: 1;
              top: 4rem;
              left: 0;
              transition-delay: 1s;
              transition-duration: 5s;
              transition: transform 0.36s cubic-bezier(0, 0, 0.2, 1), opacity 0.36s cubic-bezier(0, 0, 0.2, 1);

              .menu-dropdown-item {
                text-align: left;

                .menu-dropdown-link {
                  color: inherit;
                }

                &:hover {
                  background-color: var(--surface-border)
                }
              }
            }

            &:hover {
              .menu-dropdown-list {
                transition: transform 0.36s cubic-bezier(0, 0, 0.2, 1), opacity 0.36s cubic-bezier(0, 0, 0.2, 1);

                display: block;
              }
            }
          }
        }
      }
    }

    .p-avatar {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }

  .p-sidebar-left {
    min-width: 70vw !important;

    .p-sidebar-header {
      justify-content: flex-start !important;

      .p-sidebar-icon {
        .pi {
          font-size: 1.5rem !important;
        }
      }
    }
  }

  .p-menu.p-menu-overlay {
    top: 66px !important;
  }
}