<div class="give-feedback-wrapper">
  <button pButton pRipple class="btn-feedback p-button-raised p-button-primary" type="button"
    label="{{'common.feedback' | translate}}" (click)="onClickFeedback()">
  </button>
</div>

<p-dialog [(visible)]="display" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '96vw'}"
  [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <span class="font-semibold text-800 text-xl">{{'feedback.title' | translate}}</span>
  </ng-template>
  <div class="feedback-content" *ngIf="!success; else successBlock">
    <p>{{'feedback.description' | translate}}</p>
    <textarea #input [(ngModel)]="content" [rows]="4" pInputTextarea autofocus (ngModelChange)="onChangeContent($event)"
      placeholder="{{'feedback.placeholder' | translate }}" class="w-full comment-input pl-3 pr-7 shadow-1">
    </textarea>
    <div *ngIf="empty" class="invalid-feedback">
      <div class="flex align-items-end">
        <i class="pi pi-exclamation-triangle inline p-error mr-1"></i>
        <small class="p-error inline">{{'feedback.validation' | translate}}</small>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button *ngIf="!success" pButton pRipple type="button" label="{{'feedback.cancel' | translate}}"
      (click)="display = false" class="min-button-width p-button-outlined"></button>
    <button *ngIf="!success" pButton pRipple type="button" [loading]="isLoading" label="{{'feedback.send' | translate}}"
      (click)="onClickSubmit()" icon="pi pi-send" iconPos="right" class="min-button-width p-button-raised"></button>
  </ng-template>
</p-dialog>

<ng-template #successBlock>
  <div class="w-full md:w-10 mx-auto">
    <div class="text-center mb-5">
      <app-check-icon></app-check-icon>
      <p class="text-600 font-medium">{{ 'feedback.success' | translate }}</p>

      <button pButton pRipple type="button" label="{{'feedback.ok' | translate}}" (click)="onClickClose()"
        class="p-button-primary w-full mt-4"></button>
    </div>
  </div>
</ng-template>