<ng-template [ngIf]="!isLoading">
  <div class="card px-2 md:px-3 lg:px-4">
    <div class="flex justify-content-between align-items-center mb-3">
      <p class="mb-0 text-xl">Manage Category</p>
      <button icon="pi pi-plus" (click)="onClickCreate()" pButton pRipple label="Create category" class="">
      </button>
    </div>
    <p-table #dt [value]="listData" [scrollable]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[25,50,100]" responsiveLayout="scroll" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['name','display_name']">
      <ng-template pTemplate="caption">
        <div class="table-header flex justify-content-between align-items-center">
          <div class="header-left">
          </div>
          <div class="header-right">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input #globalText pInputText type="text" (input)="dt.filterGlobal(globalText.value, 'contains')"
                placeholder="Global Search" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="parent_id">Parent Id <p-sortIcon field="parent_id"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th>Thumnail
          </th>
          <th pSortableColumn="display_name">Display name <p-sortIcon field="display_name"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="created_timestamp">Created <p-sortIcon field="created_timestamp"></p-sortIcon>
          </th>
          <th pSortableColumn="last_modified_timestamp">Modified <p-sortIcon field="last_modified_timestamp">
            </p-sortIcon>
          </th>
          <th>Action </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category.id}}</td>
          <td>{{category.parent_id}}</td>
          <td>
            <a target="_blank" href="/c/{{category.name}}">{{category.name}}</a>
          </td>
          <td>
            <img *ngIf="category.thumbnail" src="{{category.thumbnail}}" alt="Thumbnail" height="60px">
          </td>
          <td>{{category.display_name}}</td>
          <td>{{category.status}}</td>
          <td title="{{category.created_timestamp}}">{{category.created_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td title="{{category.last_modified_timestamp}}">{{category.last_modified_timestamp | date : 'dd/MM/yyyy'}}</td>
          <td>
            <button pButton type="button" (click)="onClickEdit(category)" class="p-button-sm p-button-secondary"
              icon="pi pi-pencil"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<p-dialog [(visible)]="displayDialog" [dismissableMask]="true" [modal]="true" (onHide)="onHideDialog()"
  [style]="{width: '60vw'}" [maximizable]="true" [draggable]="false" [resizable]="false"
  (onHide)="currentCategory = null">
  <ng-template pTemplate="header">
    <ng-template [ngIf]="viewDialog === 'edit'">
      <p class="text-2xl max-1-line">Edit category: <b>{{currentCategory?.display_name}}</b></p>
    </ng-template>
    <ng-template [ngIf]="viewDialog === 'create'">
      <p class="text-2xl max-1-line">Create new category</p>
    </ng-template>
  </ng-template>

  <ng-template [ngIf]="viewDialog === 'edit' && currentCategory">
    <admin-create-edit-category [view]="'edit'" [category]="currentCategory" (onClose)="onSuccess()">
    </admin-create-edit-category>
  </ng-template>
  <ng-template [ngIf]=" viewDialog==='create'">
    <admin-create-edit-category [view]="'create'" (onClose)="onSuccess()"></admin-create-edit-category>
  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<app-loading [loading]="isLoading"></app-loading>