<div class="flex">
  <div class="col-12">
    <div class="card p-fluid">
      <h5>Horizontal</h5>
      <div class="field grid"><label htmlfor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
        <div class="col-12 md:col-10"><input pinputtext="" id="name3" type="text"
            class="p-inputtext p-component p-element"></div>
      </div>
      <div class="field grid"><label htmlfor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
        <div class="col-12 md:col-10"><input pinputtext="" id="email3" type="text"
            class="p-inputtext p-component p-element"></div>
      </div>
    </div>
  </div>
</div>