:host ::ng-deep {
  .p-fileupload {
    .p-fileupload-buttonbar {
      background: transparent !important;
      border: none !important;
      padding: 0 !important;

      .p-button-label {
        display: none !important;
      }

      .p-button-icon-left {
        margin-right: 0 !important;
      }
    }

    .p-fileupload-content {
      display: none !important;
    }
  }
}

.country-item-value {
  img.flag {
    width: 24px;
  }
}