.loading-logo {
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  z-index: 2;
  position: absolute;
  width: 70px;
}

.loading-loader,
.loading-loader:before,
.loading-loader:after {
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: absolute;
  vertical-align: middle;
  background: #c3002f;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 1;
}

.loading-loader {
  background: transparent;
}

.loading-loader:before {
  content: "";
  animation: bounce 1.5s infinite;
}
.loading-loader:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

.loading-wrapper {
  background-color: var(--surface-ground);;
  height: 100%;
}
