:host ::ng-deep #post-content {
  .content-HTML {
    blockquote {
      border-left: 4px solid #ccc;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-left: 16px;
    }

    code,
    pre {
      background-color: #f0f0f0;
      border-radius: 4px;
      line-height: 1.6;
    }

    pre {
      white-space: pre-wrap;
      margin-bottom: 5px;
      margin-top: 5px;
      padding: 5px 10px;
    }

    code {
      font-size: 85%;
      padding: 2px 4px;
    }

    pre.ql-syntax {
      background-color: #23241f;
      color: #f8f8f2;
      overflow: visible;
    }
  }

  img {
    border-radius: 4px;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }
}