@mixin breakpoint($type: min, $width) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin maxline($number: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}