<app-search-input [showPopular]="false" [wFull]="true" [hasAnimation]="true"></app-search-input>

<div class="home-layout container py-3 md:py-6">
  <div class="flex flex-wrap justify-content-center">
    <div class="col-12 md:col-3 lg:col-2 xl:col-2 md:px-2 xl:px-4">
      <div class="popular-tags w-full mt-8 mb-6 hidden md:block">
        <p class="font-semibold text-lg mt-4">{{ 'label.popular.tags' | translate }}</p>
        <ng-template [ngIf]="!isLoadingTag" [ngIfElse]="loadingTagBlock">
          <app-tag [tag]="tag" [width]="'auto'" [size]="'base'" *ngFor="let tag of popularTags">
          </app-tag>
        </ng-template>
        <ng-template #loadingTagBlock>
          <app-tag [loading]="true" [color]="'bg-bluegray'" [width]="'auto'" [size]="'base'" *ngFor="let tag of [1]">
          </app-tag>
        </ng-template>
      </div>
      <div class="category-tags w-full mb-6 hidden md:block">
        <p class="font-semibold text-lg mt-4">{{ 'label.popular.category' | translate }}</p>
        <ng-template [ngIf]="!isLoadingCategory" [ngIfElse]="loadingCategoryBlock">
          <app-category [category]="category" [size]="'base'" [width]="'w-full'" *ngFor="let category of listCategory">
          </app-category>
        </ng-template>
        <ng-template #loadingCategoryBlock>
          <app-category [loading]="true" [size]="'base'" [width]="'w-full'" *ngFor="let category of [1]">
          </app-category>
        </ng-template>
      </div>
      <div class="contact-block mb-6 hidden md:block">
        <p class="font-semibold text-lg">{{ 'label.connectus' | translate }}</p>
        <li class="my-2" *ngFor="let item of contacts">
          <app-link-text [item]="item"></app-link-text>
        </li>
      </div>
      <app-footer class="hidden md:block"></app-footer>
    </div>
    <div class="col-12 md:col-9 lg:col-10 xl:col-10">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-9 xl:col-8 p-0 mb-4 min-h-screen">
          <div class="col-12 p-0 flex mb-3">
            <app-avatar class="mr-2" *ngIf="currentUser" [user]="currentUser"></app-avatar>
            <button pButton pRipple type="button" label="{{'home.createPostPlaceholder' | translate}}"
              [routerLink]="['/create']"
              class="p-button-outlined p-button-rounded p-button-secondary w-full text-left"></button>
          </div>
          <div class="flex flex-wrap justify-content-between align-items-center mb-3">
            <div class="main-header-left ">
              <span class="p-2 text-md md:text-lg font-medium cursor-pointer text-600" *ngFor="let type of listPostType"
                [ngClass]="{ 'font-bold text-blue-500 border-bottom-3 border-blue-500' : currentPostType === type}"
                (click)="onChangeViewOption(type)">
                {{ ('home.viewOption.' + type) | translate }}
              </span>
            </div>
            <div class="main-header-right">
              <p-selectButton [options]="layoutOptions" [(ngModel)]="layout" optionLabel="icon" optionValue="value"
                (onChange)="onChangeLayout($event)">
                <ng-template let-item>
                  <i [class]="item.icon"></i>
                </ng-template>
              </p-selectButton>
            </div>
          </div>
          <div class="grid list-post-home" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="100"
            (scrolled)="onLoadMorePosts(true)">
            <ng-template [ngIf]="!isLoadingPosts" [ngIfElse]="loadingPosts">
              <ng-template [ngIf]="isGrid" [ngIfElse]="LayoutList">
                <div class="col-12 sm:col-6 md:col-6 lg:col-6" *ngFor="let item of listPosts">
                  <app-post-card [post]="item" [isGrid]="isGrid"></app-post-card>
                </div>
              </ng-template>
              <ng-template #LayoutList>
                <div class="col-12" *ngFor="let item of listPosts">
                  <app-post-card [post]="item"></app-post-card>
                </div>
              </ng-template>
              <ng-template [ngIf]="listPosts.length === 0">
                <div class="col-12 flex justify-content-center">
                  <div class="col-6">
                    <app-empty></app-empty>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngIf]="isLoadingMorePosts">
                <div class="col-12">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </ng-template>
              <div class="col-12 text-center mt-2 cursor-pointer" *ngIf="start < totalSizePost"
                (click)="onLoadMorePosts()">
                <p class="font-semibold mb-2">{{'home.viewMore' | translate}}</p>
                <i class="pi pi-angle-double-down up-down text-lg"></i>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-3 xl:col-4 p-0 md:px-2 xl:px-4">
          <div class="card-wrapper border-round px-3 py-2"
            [ngClass]="config?.dark ? 'bg-black-alpha-20' : 'bg-bluegray-100'">
            <p class="text-xl font-semibold py-1">{{'label.trending' | translate}}</p>
            <div class="grid">
              <ng-template [ngIf]="!isLoadingRecommend" [ngIfElse]="loadingRecommned">
                <div class="col-12 sm:col-6 md:col-6 lg:col-12 p-1" *ngFor="let item of listRecommend">
                  <app-recommend-post-card [post]="item"></app-recommend-post-card>
                </div>
              </ng-template>
              <ng-template #loadingRecommned>
                <div class="col-12 sm:col-6 md:col-6 lg:col-12 p-1" *ngFor="let item of [1,2,3]">
                  <app-recommend-post-card [loading]="true"></app-recommend-post-card>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="col-12 pt-8">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>

<ng-template #loadingPosts>
  <ng-template [ngIf]="isGrid" [ngIfElse]="LayoutList">
    <div class="col-12 sm:col-6 md:col-6 lg:col-6" *ngFor="let item of [1,2]">
      <app-post-card [loading]="true" [isGrid]="isGrid"></app-post-card>
    </div>
  </ng-template>
  <ng-template #LayoutList>
    <div class="col-12" *ngFor="let item of [1,2]">
      <app-post-card [loading]="true"></app-post-card>
    </div>
  </ng-template>
  <ng-template [ngIf]="isLoadingMorePosts">
    <div class="col-12">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>
  <div class="col-12 text-center mt-2 cursor-pointer" *ngIf="start < totalSizePost" (click)="onLoadMorePosts()">
    <p class="font-semibold mb-2">{{'home.viewMore' | translate}}</p>
    <i class="pi pi-angle-double-down up-down text-lg"></i>
  </div>
</ng-template>